/*Global color*/
$black: #000;
$white: #fff;
/*Green*/
$green: #018600;
$green-meadow: #1bbc9b;
$green-seagreen: #1ba39c;
$green-turquoise: #36d7b7;
$green-haze: #44b6ae;
$green-jungle: #26c281;
/*Blue*/
$blue: #4b8df8;
$blue-hoki: #67809f;
$blue-steel: #4b77be;
$blue-madison: #578ebe;
$blue-chambray: #2c3e50;
$blue-ebonyclay: #22313f;
/*Red*/
$red: #d84a38;
$red-pink: #e08283;
$red-sunglo: #e26a6a;
$red-intense: #e35b5a;
$red-thunderbird: #d91e18;
$red-flamingo: #ef4836;
/*Yellow*/
$yellow: #ffb848;
$yellow-gold: #e87e04;
$yellow-casablanca: #f2784b;
$yellow-crusta: #f3c200;
$yellow-lemon: #f7ca18;
$yellow-saffron: #f4d03f;
/*Purple*/
$purple: #8e44ad;
$purple-plum: #8775a7;
$purple-medium: #bf55ec;
$purple-studio: #8e44ad;
$purple-wisteria: #9b59b6;
$purple-seance: #9a12b3;
/*Grey*/
$grey: #e5e5e5;
$grey-cascade: #95a5a6;
$grey-silver: #bfbfbf;
$grey-steel: #e9edef;
$grey-cararra: #fafafa;
$grey-gallery: #555555;